
body {
  background: linear-gradient(to right, #ffccf9, #ffb6c1); 
  padding: 50px; 
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}


 ul {

  padding: 0;
  margin-bottom: 30px;
}

li {
  margin: 10px 0;
}

 a {
  color: #ff69b4;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.nav-links a:hover {
  text-decoration: underline;
  color: #d8345f;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #7495d3;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #1d1d85;
}
